.concertContainer {
  width: 100%;
  display: flex;
  font-weight: 500;
  text-align: center;
  align-items: center;
  transition: 0.3s ease;
  justify-content: space-between;
  font-family: "Bebas Neue", sans-serif;
}

/* Concert information */
.date {
  font-size: 1.5rem;
}

.stadium,
.location {
  font-size: 2rem;
}

/* Concert tickets */
.concertLinks {
  gap: 1rem;
  display: flex;
}

.ticketsLink,
.vipTicketsLink {
  font-size: 1.5rem;
}

@media (max-width: 950px) {
  .concertContainer {
    flex-direction: column;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
}

/* Mobile responsiveness */
@media (max-width: 480px) {
}
