.legalNoticeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 75vh;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}

/* Legal notice */
.paragraph {
  line-height: 1.5;
  margin-bottom: 1rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.paragraph:last-child {
  margin-bottom: 0;
}

.underline {
  transition: 0.3s ease;
  color: var(--text-secondary);
  border-bottom: 1px solid var(--text-secondary);
}

.underline:hover {
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
}

/* Personal data disclosure table */
.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.dataTable {
  width: 100%;
  line-height: 1.5;
  text-align: center;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
  color: var(--text-secondary);
  background-color: var(--bg-color);
}

.tableHeader {
  padding: 1rem;
  font-weight: 400;
  transition: 0.3s ease;
  border: 1px solid var(--text-primary);
}

.tableCell {
  padding: 1rem;
  font-weight: 300;
  transition: 0.3s ease;
  border: 1px solid var(--text-primary);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .tableHeader {
    padding: 0.875rem;
    font-size: 0.75rem;
  }

  .tableCell {
    padding: 0.875rem;
    font-size: 0.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .tableHeader {
    padding: 0.75rem;
    font-size: 0.5rem;
  }

  .tableCell {
    padding: 0.75rem;
    font-size: 0.5rem;
  }
}
