footer {
  width: 100%;
  padding: 2rem;
  transition: 0.3s ease;
  background-color: var(--footer-bg-color);
}

.footerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  footer {
    padding: 1.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  footer {
    padding: 1.5rem;
  }
}
