.searchContainer {
  width: 100%;
  display: flex;
  margin: 2rem auto;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
  animation: slideDown 0.3s ease;
}

.searchWrapper {
  width: 100%;
  display: flex;
  max-width: 500px;
  position: relative;
  align-items: center;
  transition: 0.3s ease;
}

/* Search input field */
.searchInput {
  width: 100%;
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  transition: 0.3s ease;
  color: var(--text-primary);
  background-color: var(--bg-color);
  border: 1px solid var(--text-secondary);
}

.searchInput:focus {
  border: 1px solid var(--text-primary);
}

.searchInput::placeholder {
  color: var(--text-secondary);
}

/* Search icon  */
.searchIcon {
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  pointer-events: none;
  color: var(--text-secondary);
}

.searchWrapper:focus-within .searchIcon {
  color: var(--text-primary);
}

/* Animations */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .searchWrapper {
    max-width: 350px;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .searchContainer {
    margin: 1rem auto;
  }

  .searchInput {
    font-size: 0.75rem;
  }
}
