.tourContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 75vh;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Tour banner */
.bannerContainer {
  width: 100%;
  margin-bottom: 2rem;
  transition: 0.3s ease;
}

.bannerImage {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Concerts list */
.concertsContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 950px) {
  .concertsContainer {
    gap: 2rem;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .bannerContainer {
    margin-bottom: 1.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .bannerContainer {
    margin-bottom: 1.5rem;
  }
}
