.tourContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 75vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Tour banner */
.bannerContainer {
  width: 100vw;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.bannerImage {
  width: 100%;
  display: block;
  object-fit: cover;
}

.bannerImageWide {
  display: block;
}

.bannerImageTall {
  display: none;
}

/* Concerts list */
.concertsContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
  transition: 0.3s ease;
  flex-direction: column;
}

@media (max-width: 950px) {
  .concertsContainer {
    gap: 2rem;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {}

/* Switch tour banner image */
@media (max-width: 600px) {
  .bannerImageWide {
    display: none;
  }

  .bannerImageTall {
    display: block;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {}
