.returnsContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 75vh;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}

.questionsContainer {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.questionsContainer:last-child {
  margin-bottom: 0rem;
}

/* Question */
.question {
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
}

/* Answer */
.answer {
  transition: 0.3s ease;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}

.answer:last-child {
  margin-bottom: 0;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
}
