.helpContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 75vh;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}

/* Help and support cards */
.cardsContainer {
  gap: 2rem;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.helpCard {
  flex: 1;
  display: flex;
  padding: 2rem;
  text-align: center;
  transition: 0.3s ease;
  flex-direction: column;
  border: 1px solid var(--text-primary);
}

.cardTitle {
  font-size: 2rem;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
}

.cardText {
  font-size: 1rem;
  line-height: 1.5;
  transition: 0.3s ease;
  margin-bottom: 0.75rem;
  color: var(--text-secondary);
}

@media (max-width: 950px) {
  .cardsContainer {
    flex-direction: column;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .cardsContainer {
    gap: 1.75rem;
  }

  .helpCard {
    padding: 1.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .cardsContainer {
    gap: 1.5rem;
  }

  .helpCard {
    padding: 1.5rem;
  }

  .cardTitle {
    font-size: 1.75rem;
  }

  .cardText {
    font-size: 0.875rem;
  }
}
